In [1]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [2]:
_subway = spark.read.format('com.databricks.spark.csv')\
    .options(header='true', inferschema='true').load('data/CARD_SUBWAY_MONTH_202008.csv')

In [3]:
_subway.printSchema()

root
 |-- 사용일자: integer (nullable = true)
 |-- 노선명: string (nullable = true)
 |-- 역명: string (nullable = true)
 |-- 승차총승객수: integer (nullable = true)
 |-- 하차총승객수: integer (nullable = true)
 |-- 등록일자: integer (nullable = true)

In [4]:
_subway.show(10)

+--------+------+-----------------------+------------+------------+--------+
|사용일자|노선명|                   역명|승차총승객수|하차총승객수|등록일자|
+--------+------+-----------------------+------------+------------+--------+
|20200801|중앙선|                   오빈|         249|         239|20200804|
|20200801|중앙선|                   아신|         467|         595|20200804|
|20200801|중앙선|                   국수|         520|         598|20200804|
|20200801| 2호선|                 한양대|        3244|        3022|20200804|
|20200801| 2호선|       왕십리(성동구청)|       11110|        9769|20200804|
|20200801| 2호선|               상왕십리|        8110|        7289|20200804|
|20200801| 2호선|                   신당|        8703|        8731|20200804|
|20200801| 2호선|동대문역사문화공원(DDP)|        8183|        8474|20200804|
|20200801| 2호선|              을지로4가|        5103|        5207|20200804|
|20200801| 2호선|              을지로3가|        7714|        7826|20200804|
+--------+------+-----------------------+------------+------------+--------+
only showing top 10 rows

In [31]:
subway=_subway\
    .withColumnRenamed("사용일자", "dataUse")\
    .withColumnRenamed("노선명", "line")\
    .withColumnRenamed("역ID", "stationID")\
    .withColumnRenamed("역명", "station")\
    .withColumnRenamed("승차총승객수", "NInPassengers")\
    .withColumnRenamed("하차총승객수", "NOutPassengers")\
    .withColumnRenamed("등록일자", "dateRegi")

In [6]:

subway.printSchema()

root
 |-- dataUse: integer (nullable = true)
 |-- line: string (nullable = true)
 |-- station: string (nullable = true)
 |-- NInPassengers: integer (nullable = true)
 |-- NOutPassengers: integer (nullable = true)
 |-- dateRegi: integer (nullable = true)

In [7]:
import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType
sum_columns = F.udf(lambda x,y: x+y,IntegerType())

In [8]:
subway=subway.withColumn("total",sum_columns("NInPassengers","NOutPassengers"))

In [9]:
subway.printSchema()

root
 |-- dataUse: integer (nullable = true)
 |-- line: string (nullable = true)
 |-- station: string (nullable = true)
 |-- NInPassengers: integer (nullable = true)
 |-- NOutPassengers: integer (nullable = true)
 |-- dateRegi: integer (nullable = true)
 |-- total: integer (nullable = true)

In [10]:
from pyspark.sql.window import Window
win = Window.partitionBy("line").orderBy(F.col("total").desc()) # line기준 SumInOut 많은것부터 count,.desc()는 내림차순

In [23]:
from pyspark.sql.functions import row_number
from pyspark.sql.functions import rank
subway_rank=subway.withColumn("rank", row_number().over(win))
subway_rank.filter(subway_rank.rank==1).show(26)

+--------+--------------+--------------------+-------------+--------------+--------+------+----------+---------+----+
| dataUse|          line|             station|NInPassengers|NOutPassengers|dateRegi| total|      date|      Day|rank|
+--------+--------------+--------------------+-------------+--------------+--------+------+----------+---------+----+
|20200807|        일산선|                화정|        17591|         17916|20200810| 35507|2020-08-07|   Friday|   1|
|20200814|        장항선|            온양온천|         4528|          4534|20200817|  9062|2020-08-14|   Friday|   1|
|20200807|        경부선|              영등포|        43168|         46982|20200810| 90150|2020-08-07|   Friday|   1|
|20200807|    우이신설선|        북한산보국문|         5767|          5036|20200810| 10803|2020-08-07|   Friday|   1|
|20200812|        분당선|                야탑|        26098|         27415|20200815| 53513|2020-08-12|Wednesday|   1|
|20200812|         7호선|      가산디지털단지|        46117|         46836|20200815| 92953|2020-08-12|Wednesday|   1|
|20200807|        수인선|            인천논현|         5555|          5751|20200810| 11306|2020-08-07|   Friday|   1|
|20200812|        안산선|              상록수|        17961|         17605|20200815| 35566|2020-08-12|Wednesday|   1|
|20200807|         4호선|      수유(강북구청)|        35229|         35040|20200810| 70269|2020-08-07|   Friday|   1|
|20200807|         1호선|              서울역|        48690|         47346|20200810| 96036|2020-08-07|   Friday|   1|
|20200813|        경의선|                일산|         9812|          9629|20200816| 19441|2020-08-13| Thursday|   1|
|20200814|         3호선|          고속터미널|        49312|         57842|20200817|107154|2020-08-14|   Friday|   1|
|20200807|        경강선|            경기광주|         7059|          6545|20200810| 13604|2020-08-07|   Friday|   1|
|20200807|        경춘선|            평내호평|         5904|          5788|20200810| 11692|2020-08-07|   Friday|   1|
|20200807|         9호선|              신논현|        35701|         38782|20200810| 74483|2020-08-07|   Friday|   1|
|20200807|         6호선|                공덕|        19817|         19484|20200810| 39301|2020-08-07|   Friday|   1|
|20200815|         5호선|광화문(세종문화회관)|        39181|         39792|20200818| 78973|2020-08-15| Saturday|   1|
|20200810|         8호선|                문정|        21546|         22525|20200813| 44071|2020-08-10|   Monday|   1|
|20200807|        과천선|                범계|        26478|         26718|20200810| 53196|2020-08-07|   Friday|   1|
|20200807|        경인선|                부천|        33761|         34519|20200810| 68280|2020-08-07|   Friday|   1|
|20200807|        중앙선|                회기|        24548|         23474|20200810| 48022|2020-08-07|   Friday|   1|
|20200814|  9호선2~3단계|              봉은사|        19184|         19435|20200817| 38619|2020-08-14|   Friday|   1|
|20200807|         2호선|                강남|        98692|        104043|20200810|202735|2020-08-07|   Friday|   1|
|20200811|공항철도 1호선|    디지털미디어시티|        14311|         13310|20200814| 27621|2020-08-11|  Tuesday|   1|
|20200807|        경원선|              의정부|        18455|         20025|20200810| 38480|2020-08-07|   Friday|   1|
+--------+--------------+--------------------+-------------+--------------+--------+------+----------+---------+----+

In [12]:
toDate = F.udf(lambda x: str(x)[0:4]+'-'+str(x)[4:6]+'-'+str(x)[6:])

In [13]:
subway=subway.withColumn("date",toDate(subway.dataUse))

In [14]:
subway=subway.withColumn("Day",F.dayofweek("date")) # 1: 일요일, 2: 월요일... 7:토요일

In [15]:
from pyspark.sql.types import StringType
def dateToStr(x):
    q=""
    if x==1:
        q="Sunday"
    elif x==2:
        q="Monday"
    elif x==3:
        q="Tuesday"
    elif x==4:
        q="Wednesday"
    elif x==5:
        q="Thursday"
    elif x==6:
        q="Friday"
    elif x==7:
        q="Saturday"
    else:
        q="error!"
    return q

In [16]:
dateToStr_udf=F.udf(dateToStr,StringType())

In [17]:

# 숫자로 되어있던 요일을 String으로
subway=subway.withColumn("Day",dateToStr_udf('Day'))

In [21]:
dayCount=subway.groupby('line').pivot('Day').agg({"total":"sum"})

In [22]:
dayCount.show(25)

+--------------+--------+--------+--------+-------+--------+--------+---------+
|          line|  Friday|  Monday|Saturday| Sunday|Thursday| Tuesday|Wednesday|
+--------------+--------+--------+--------+-------+--------+--------+---------+
|        일산선|  738944|  807345|  561959| 392381|  717131|  735412|   733889|
|        장항선|   84187|   91065|   78907|  68037|   72019|   77146|    76949|
|        경부선| 3099082| 3330164| 2573749|1963225| 2877890| 2927549|  2934851|
|    우이신설선|  289007|  326212|  232855| 176868|  284225|  291323|   294205|
|        분당선| 2594521| 2751372| 1857203|1245970| 2464308| 2542687|  2532730|
|         7호선| 4978092| 5484297| 3424446|2354267| 4891009| 4975629|  4964896|
|        수인선|  291246|  319792|  232872| 167942|  278856|  283623|   286097|
|        안산선|  812413|  905466|  676656| 498383|  773801|  801668|   796552|
|         4호선| 3477064| 3719651| 2624746|1775413| 3386256| 3401055|  3406441|
|         1호선| 1618805| 1739011| 1272247| 814265| 1554120| 1573564|  1554262|
|        경의선|  721643|  784221|  516058| 372857|  696063|  710348|   702634|
|         3호선| 3738791| 3957327| 2751918|1812205| 3582653| 3638156|  3613673|
|        경강선|  193925|  203452|  154194| 116916|  177802|  179353|   183775|
|        경춘선|  255357|  291576|  230952| 185217|  242812|  248276|   248263|
|         9호선| 2036508| 2126800| 1338946| 934652| 1965176| 1971316|  1951697|
|         6호선| 2284098| 2473920| 1700510|1197699| 2236616| 2257821|  2263564|
|         5호선| 4335814| 4709284| 2940421|1963172| 4274610| 4340176|  4325900|
|         8호선| 1337891| 1464884|  950656| 668791| 1296954| 1329056|  1328924|
|        과천선|  679088|  724017|  451593| 306299|  658358|  669923|   675080|
|        경인선| 2025994| 2236972| 1691480|1180629| 1939069| 1981542|  1988438|
|        중앙선|  628005|  702117|  538312| 403541|  602149|  614813|   608650|
|  9호선2~3단계|  664252|  701231|  443269| 305653|  645619|  652084|   654574|
|         2호선|10135008|10762724| 7137275|4780422| 9867446|10015223| 10014123|
|공항철도 1호선|  652408|  695928|  493853| 405606|  624773|  629508|   616531|
|        경원선| 1362777| 1495589| 1193857| 890288| 1292129| 1315704|  1279581|
+--------------+--------+--------+--------+-------+--------+--------+---------+